---
layout: default
---

<h1>Categories</h1>

{% for category in site.categories %}
  <section class="category-block">
    <h2>{{ category[0] | capitalize }}</h2>
    <ul class="posts-container">
      {% assign posts = category[1] | sort: "date" | reverse %}
      {% for post in posts %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <p class="post-date">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            {{ post.date | date: "%B %-d, %Y" }}
            &nbsp;–&nbsp;
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            {% include read-time.html %}
          </p>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}
